
default: &default
  adapter: postgresql
  encoding: unicode

production:
     <<: *default
     host: devicv-vpc-b068bad7.ctp5yr3kk5uq.ap-southeast-2.rds.amazonaws.com
     database: "{{postgresql_databases[0].name}}"
     username: "{{postgresql_users[7].name}}"
     password: "{{postgresql_users[7].password}}"
     pool: 10

development:
  <<: *default
  database: "{{postgresql_databases[0].name}}"
  username: "{{postgresql_users[7].name}}"
  password: "{{postgresql_users[7].password}}"
