dn: cn=jamie,ou=people,dc=example,dc=com
changetype: add
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetOrgPerson
cn: jamie
givenName: RedHat
surName: whetsell
sn: jamie
ou: jamie
uid: jamie
userPassword: password



