grails.serverURL = "{{mapper.grails.serverURL}}"

mapper {
    resolverURL = "{{mapper.resolverURL}}"
    contextExtension = '' //extension to the context path (after nsl-mapper).
    defaultProtocol = 'http'

    shards = [

            {{mapper.shards.icn.name}}    : [
                    baseURL: "{{mapper.shards.icn.baseURL}}",
                    service: [
                            html: { ident ->
                                "nxl/services/${ident.objectType}/${ident.nameSpace}/${ident.idNumber}"
                            },
                            json: { ident ->
                                "nxl/services/${ident.objectType}/${ident.nameSpace}/${ident.idNumber}"
                            },
                            xml : { ident ->
                                "nxl/services/${ident.objectType}/${ident.nameSpace}/${ident.idNumber}"
                            },
                            rdf : { ident ->
                                String url = "DESCRIBE <http://biodiversity.org.au/boa/${ident.objectType}/${ident.nameSpace}/${ident.idNumber}>".encodeAsURL()
                                "sparql/?query=${url}"
                            }
                    ]
            ],
            foa     : [
                    baseURL: 'http://biodiversity.org.au/',
                    service: [
                            html: { ident ->
                                "foa/taxa/${ident.idNumber}/summary"
                            },
                    ]
            ]
    ]
}

api.auth = [
        '558aaeb5-3e5b-4dd3-ad03-d17c2689b70d': [
                application: 'nsl/services',
                roles      : ['admin'],
                host       : '127.0.0.1'
        ]
]

ldap {
    skip{
      authentication = false
    }
    domain = 'domain'
    server.url = 'ldap://localhost:10389'
    search {
        base = 'ou=people,dc=example,dc=com'
        user = 'uid=admin,ou=system'
        pass = 'secret'

        group {
            name = 'ou=groups,dc=example,dc=com'
            member {
                element = 'uniqueMember'
                prefix = 'uid='
                postfix = ''
            }
        }
    }
}
