create schema mapper
;

create sequence mapper_sequence
;

create table if not exists db_version
(
	id bigint not null
		constraint db_version_pkey
			primary key,
	version integer not null
)
;

create table if not exists host
(
	id bigint default nextval('mapper_sequence'::regclass) not null
		constraint host_pkey
			primary key,
	host_name varchar(512) not null,
	preferred boolean default false not null
)
;

create table if not exists match
(
	id bigint default nextval('mapper_sequence'::regclass) not null
		constraint match_pkey
			primary key,
	uri varchar(255) not null
		constraint uk_2u4bey0rox6ubtvqevg3wasp9
			unique,
	deprecated boolean default false not null,
	updated_at timestamp with time zone,
	updated_by varchar(255)
)
;

create table if not exists identifier
(
	id bigint default nextval('mapper_sequence'::regclass) not null
		constraint identifier_pkey
			primary key,
	id_number bigint not null,
	name_space varchar(255) not null,
	object_type varchar(255) not null,
	deleted boolean default false not null,
	reason_deleted varchar(255),
	updated_at timestamp with time zone,
	updated_by varchar(255),
	preferred_uri_id bigint
		constraint fk_k2o53uoslf9gwqrd80cu2al4s
			references match,
	version_number bigint,
	constraint unique_name_space
		unique (version_number, id_number, object_type, name_space)
)
;

create index if not exists identifier_index
	on identifier (id_number, name_space, object_type)
;

create index if not exists identifier_version_index
	on identifier (id_number, name_space, object_type, version_number)
;

create index if not exists identifier_prefuri_index
	on identifier (preferred_uri_id)
;

create index if not exists identifier_type_space_idx
	on identifier (object_type, name_space)
;

create table if not exists identifier_identities
(
	match_id bigint not null
		constraint fk_mf2dsc2dxvsa9mlximsct7uau
			references match,
	identifier_id bigint not null
		constraint fk_ojfilkcwskdvvbggwsnachry2
			references identifier,
	constraint identifier_identities_pkey
		primary key (identifier_id, match_id)
)
;

create index if not exists mapper_identifier_index
	on identifier_identities (identifier_id)
;

create index if not exists mapper_match_index
	on identifier_identities (match_id)
;

create index if not exists identity_uri_index
	on match (uri)
;

create table if not exists match_host
(
	match_hosts_id bigint
		constraint fk_iw1fva74t5r4ehvmoy87n37yr
			references match,
	host_id bigint
		constraint fk_3unhnjvw9xhs9l3ney6tvnioq
			references host
)
;

create index if not exists match_host_index
	on match_host (match_hosts_id)
;

