-- Change the display name of ranks to English

UPDATE name_rank SET display_name='Domain' WHERE name='Regio';
UPDATE name_rank SET display_name='Kingdom' WHERE name='Regnum';
UPDATE name_rank SET display_name='Division' WHERE name='Division';
UPDATE name_rank SET display_name='Class' WHERE name='Classis';
UPDATE name_rank SET display_name='Subclass' WHERE name='Subclassis';
UPDATE name_rank SET display_name='SuperOrder' WHERE name='Superordo';
UPDATE name_rank SET display_name='Order' WHERE name='Ordo';
UPDATE name_rank SET display_name='SubOrder' WHERE name='Subordo';
UPDATE name_rank SET display_name='Family' WHERE name='Familia';
UPDATE name_rank SET display_name='Subfamily' WHERE name='Subfamilia';
UPDATE name_rank SET display_name='Tribe' WHERE name='Tribus';
UPDATE name_rank SET display_name='Subtribe' WHERE name='Subtribus';
UPDATE name_rank SET display_name='Genus' WHERE name='Genus';
UPDATE name_rank SET display_name='Subgenus' WHERE name='Subgenus';
UPDATE name_rank SET display_name='Section' WHERE name='Sectio';
UPDATE name_rank SET display_name='Subsection' WHERE name='Subsectio';
UPDATE name_rank SET display_name='Series' WHERE name='Series';
UPDATE name_rank SET display_name='Subseries' WHERE name='Subseries';
UPDATE name_rank SET display_name='Superseries' WHERE name='Superspecies';
UPDATE name_rank SET display_name='Species' WHERE name='Species';
UPDATE name_rank SET display_name='Subspecies' WHERE name='Subspecies';
UPDATE name_rank SET display_name='Hybrid Variety' WHERE name='Nothovarietas';
UPDATE name_rank SET display_name='Variety' WHERE name='Varietas';
UPDATE name_rank SET display_name='Subvariety' WHERE name='Subvarietas';
UPDATE name_rank SET display_name='Form' WHERE name='Forma';
UPDATE name_rank SET display_name='Subform' WHERE name='Subforma';
UPDATE name_rank SET display_name='Form Taxon' WHERE name='form taxon';
UPDATE name_rank SET display_name='Morphologicalvar' WHERE name='morphological var.';
UPDATE name_rank SET display_name='Nothomorph' WHERE name='nothomorph.';
UPDATE name_rank SET display_name='Unranked' WHERE name='[unranked]';
UPDATE name_rank SET display_name='Infrafamily' WHERE name='[infrafamily]';
UPDATE name_rank SET display_name='Infragenus' WHERE name='[infragenus]';
UPDATE name_rank SET display_name='Infraspecies' WHERE name='[infraspecies]';
UPDATE name_rank SET display_name='n/a' WHERE name='[n/a]';
UPDATE name_rank SET display_name='Unknown' WHERE name='[unknown]';